<div id="product_list">

<!--                          ham tim kiem                          --> 

<%= search_form_for @search do |form| %>
    <div class="field">
      <%= form.label :title_cont, "Name containt" %>
      <%= form.text_field :title_cont %>
    </div>
    <div class="field">
    <%= form.label :price_gteq, "Price between" %>
    <%= form.text_field :price_gteq %>
    <%= form.label :price_lteq, "and" %>
    <%= form.text_field :price_lteq %>
  </div>
      <div class="actions"><%= form.submit "Search" %></div>
  <% end %>  


<!--   <table>
    <%= search_form_for @search do |form| %>
        <tr>
  
            <td class="list_description">
                <dl>
                  <div class="field">
                      <%= form.label :title_cont, "Name containt" %>
                      <%= form.text_field :title_cont %>
                  </div>
                  <div class="field">
                    <%= form.label :price_gteq, "Price between" %>
                    <%= form.text_field :price_gteq %>
                    <%= form.label :price_lteq, "and" %>
                    <%= form.text_field :price_lteq %>
                  </div>
                </dl>
            </td>
  
            <td>
                <div class="actions"><%= form.submit "Search" %></div>
            </td>
        </tr>
    <% end %>
    </table> -->
    
    <h1>Products</h1>
  
<!--                          show du lieu                         -->
    <table>
    <% @products.each do |product| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  
            <td>
                <%= image_tag(product.image_url, :class => 'list_image') %>
            </td>
  
            <td class="list_description">
                <dl>
                    <dt><%= product.title %></dt>
                    <dd><%= truncate(strip_tags(product.description),
                            :length => 80) %></dd>
                </dl>
            </td>
  
            <td class="list_actions">
                <%= link_to 'Show', product %><br/>
                <%= link_to 'Edit', edit_product_path(product) %><br/>
                <%= link_to 'Destroy', product, 
                    data: { confirm: 'Are you sure?' },
                    :method => :delete %>
            </td>
        </tr>
    <% end %>
    </table>
</div>
 
<br />
 
<%= link_to 'New product', new_product_path %>

<p><%= will_paginate @products %></p>