<!--                          ham tim kiem                          --> 

 <%= search_form_for @search do |form| %>
    <div class="field">
      <%= form.label :title_cont, "Name containt" %>
      <%= form.text_field :title_cont %>
    </div>
    <div class="field">
        <%= form.label :price_gteq, "Price between" %>
        <%= form.text_field :price_gteq %>
        <%= form.label :price_lteq, "and" %>
        <%= form.text_field :price_lteq %>
    </div>
      <div class="actions"><%= form.submit "Search" %></div>
<% end %>  

<!--                          show du lieu                         -->

<% if notice %>
   <p id="notice"><%= notice %></p>
<% end %>
 
<h1>San Pham SAMSUNG</h1>
<div id="product_list">
 <table>
    <% @products.each do |product| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
  
            <td>
                <%= image_tag(product.image_url, :class => 'list_image') %>
                 <div class="price_line">
                    <span class="price"><%= number_to_currency(product.price) %></span>
            </td>
  
            <td class="list_description">
                <dl>
                    <dt><%= product.title %></dt>
                    <dd><%= truncate(strip_tags(product.description),
                            :length => 80) %></dd>
                </dl>
            </td>
  
            <td class="list_actions">
                <%= link_to 'Xem chi tiet', product %><br/>
            </td>
        </tr>
    <% end %>
    </table>
</div>
 
<br />

<p><%= will_paginate @products %></p>
